<!DOCTYPE html>
<html lang="en-US"><head>
   <meta name="robots" content="index, follow">
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE-edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="google-site-verification" content="hMJmo6_Ts-Pvc9pCZkMURAWiJjeP4RLOeyk1e67j4pc">
   <meta name="description" content="Create enchanting stories for kids with KidsPlot. Create Personalized stories just for your kid in one click.">
   <title>KidsPlot - Custom Story Generator for Children | Your Kids idea is materialized</title>
   <script src="https://kit.fontawesome.com/b704cf9298.js" crossorigin="anonymous"></script>
   <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap" rel="stylesheet">
   <script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/2be84af7/www-widgetapi.vflset/www-widgetapi.js" async=""></script><script src="https://www.youtube.com/iframe_api"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- Extranal CSS File -->
   <link rel="stylesheet" href="style.css" class="css">
</head>
<body style="font-family: 'Open Sans', sans-serif; background-color: var(--white); color: #dcdde1;">
   <header>
      <!-- Create a header with simple menus -->
      <nav>
         <div class="container">
            <div class="menu">
               <ul class="menu-item-wrapper">
                  <li><a class="menu-link" href="#">Home</a></li>
                  <li><a class="menu-link" href="#">About</a></li>
                  <li><a class="menu-link" href="#">Services</a></li>
                  <li><a class="menu-link" href="#">Contact</a></li>
               </ul>
               <div class="userActionButton">
                  <!-- {% if not loggeduser %} -->
                  <a href="#" id="login" class="login-button">Login</a>
                  <button class="google-signin-button" id="signin-button" action="/register">Sign up</button>
                  <!-- {% else %} -->
                  <div id="user-actions">
                     <div id="last-login-info"> Last Logged in at {{lastlogin}}</div>
                     <a href="#" id="logout" class="login-button">Logout</a>
                  </div>
                  <!-- {% endif %} -->
               </div>
            </div>
         </div>
      </nav>
   </header>
   <main>
      <div class="container">
         <div class="owl-carousel owl-theme">
            <div class="item">
               <div class="slide">
                  <div class="text-container">
                     <h2>Enchanted Firefly Discovery</h2>
                     <p> <em>"Tell me a story about a magical forest."</em></p>
                  </div>
                  <div id="samplevideo1" ;="" class="video-container">
                     <iframe src="https://www.youtube.com/embed/Y_1AW43xJ9w" frameborder="0" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="slide">
                  <div class="text-container">
                     <h2>The Three Wishes</h2>
                     <p><em>"Tell me a good night story for my son who is 8 years old".</em></p>
                  </div>
                  <div id="samplevideo2" ;="" class="video-container">
                     <iframe src="https://www.youtube.com/embed/KqPcV1HS_mc" frameborder="0" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="slide">
                  <div class="text-container">
                     <h2>Cake Town Giants</h2>
                     <p><em>"Create a bedtime story about a place made out of cakes"</em></p>
                  </div>
                  <div id="samplevideo3" ;="" class="video-container">
                     <iframe src="https://www.youtube.com/embed/b6sCPtWS6iA" frameborder="0" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="slide">
                  <div class="text-container">
                     <h2>Peacock's tale</h2>
                     <p><em>"Story about peacock"</em></p>
                  </div>
                  <div id="samplevideo4" ;="" class="video-container">
                     <iframe src="https://www.youtube.com/embed/KKkzmEMZ6zs" frameborder="0" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="slide">
                  <div class="text-container">
                     <h2>The Moonlight Sonata</h2>
                     <p><em>"Write a story about a bear and tim."</em></p>
                  </div>
                  <div id="samplevideo5" ;="" class="video-container">
                     <iframe src="https://www.youtube.com/embed/Y_1AW43xJ9w" frameborder="0" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
            <div class="item">
               <div class="slide">
                  <div class="text-container">
                     <h2>The Green Forest</h2>
                     <p> <em>"Write a story about Phillip, a tired wanderer who encounters a crying woman in a dark forest."</em></p>
                  </div>
                  <div id="samplevideo6" ;="" class="video-container">
                     <iframe src="https://www.youtube.com/embed/GOFgvVMGc6s" frameborder="0" allowfullscreen=""></iframe>
                  </div>
               </div>
            </div>
        </div>
      </div>
      <div class="container">
         <div class="image-container">
            <!-- <img src={{ url_for('static', filename="combined_logo.gif") }} alt="logo_t"</img> -->
            <img src="https://kidsplot.com/static/combined_logo.gif" alt="">
         </div>
         <form id="videoGenerationForm" action="/" method="POST">
            <div class="input-container">
               <input type="text" id="searchInput" name="query" placeholder="Enter your idea here..." required="" oninput="checkInputLength(this); toggleGenerateButton(this)">
            </div>
            {% if sentiment == "sad" %}
               <div id="textDisplayviolation" style="word-wrap: break-word; color: #333;"></div>
               <!--         Add a div to display the result -->
               <div id="resultDisplayviolation" class="result {{ sentiment }}" style="word-wrap: break-word; width: 70%; margin: 0 auto; text-align: justify;">
                  {{result}}
               </div>
            {% endif %}

            <div class="button-container">
               <button type="submit" id="generateButton" disabled="">Generate</button>
               <button type="button" id="feelingLuckyButton" onclick="feelingLucky()"><span class="spin-text">I'm Feeling Lucky</span></button>
            </div>

            
            
            <div class="youtube-connect">
               <p>Upload videos to your own account</p>
               {% if youtubechannels %}
               <div class="accordion_menu">
                  <!-- <label for="dropdown">Select Your Channel:</label>
                  <select id="youtubechannels" name="youtubechannels">
                     {% for option in youtubechannels %}
                        <option value="{{ option[0] }}">{{ option[1] }}</option>
                     {% endfor %}
                  </select> -->
                  <button type="button" class="accordion">Select Your Channel:</button>
                  <div class="panel">
                    <ul>
                        <li><a href="#">Channel 1</a></li>
                        <li><a href="#">Channel 2</a></li>
                        <li><a href="#">Channel 3</a></li>
                    </ul>
                  </div>
               </div>
               {% endif %}
               <a href={{ url_for('youtubelogin') }} id="youtubeConnectButton">
                   <!-- <img src={{ url_for('static', filename="youtubeicon.png") }} alt="YouTube Icon"> -->
                   <img src="https://kidsplot.com/static/youtubeicon.png" alt="">
               </a>
            </div>
            <div id="inputWarning" style="color: red;"></div>
         </form>
         <div id="textDisplay" style="word-wrap: break-word; color: #333;"></div>
         <!--         Add a div to display the result -->
         <div id="resultDisplay" class="result {{ sentiment }}" style="word-wrap: break-word; width: 70%; margin: 0 auto; text-align: justify;">
            {{result}}
         </div>

         {% if sentiment == "happy" %}
         <div id="videoDisplay1" ; style="margin: 20px auto;">
            <!-- <iframe style="max-width: 580px;" width="100%" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe> -->
         </div>
         {% endif %}
         <!--        {% for c in channels %}-->
         <!--                <OPTION value="{{c[0]}}">{{c[1]}}</option>-->
         <!--                {% endfor %}-->
         <div id="welcome_msg" class="welcome_msg" style="word-wrap: break-word; margin: 0 auto; text-align: center;">

         </div>
         <div id="videoGrid" class="video-grid">
            <!-- The generated YouTube videos will be displayed here -->
         </div>
      </div>
   </main>
   <footer>
      <!-- Create a footer with some information -->
      <p>© 2023 kidsplot.com. All rights reserved. <a href="{{ url_for('privacy') }}">Privacy Policy</a>
         <a href="{{ url_for('termsandconditions') }}">Terms and Conditions</a></p>
   </footer>







   <!-- All JS CODE HERE -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script>
      $(document).ready(function(){
         $(".owl-carousel").owlCarousel();
      });

      var owl = $('.owl-carousel');
      owl.owlCarousel({
         items:1,
         loop:true,
         margin:10,
         autoplay:true,
         nav:true,
         dots:false,
         autoplayTimeout:4000,
         autoplayHoverPause:true
      });
   </script>
   <!-- Extranal JS File -->
   <script src="app.js"></script>

</body>
</html>